<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogiTrac - Services</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>Our Services</h1>
        <p>Explore our range of services designed to meet your transportation and logistics needs:</p>

        <ul>
            <li>Cargo Handling</li>
            <li>Shipping Solutions</li>
            <li>Home Moving Services</li>
            <li>Logistics Warehousing</li>
            <li>Trucking Assistance</li>

        </ul>


        <p>Contact us to learn more about how our services can benefit you!</p>


        <a href="{% url 'contact' %}" class="btn btn-primary">Contact Us</a>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

    </script>
</body>
</html>
