{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogiTrac - Services</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'static/css/services.css' %}">

</head>
<body>
    <div class="container mt-5">
        <h1>Our Services</h1>
        <p>Explore our range of services designed to meet your transportation and logistics needs:</p>

        <ul class="list-group">

            <li class="list-group-item"><a href="{% url 'cargohandling' %}">Cargo Handling</a></li>
            <li class="list-group-item"><a href="{% url 'shipping' %}">Shipping Solutions</a></li>
            <li class="list-group-item"><a href="{% url 'homemoving' %}">Home Moving Services</a></li>
            <li class="list-group-item"><a href="{% url 'warehousing' %}">Warehousing</a></li>
            <li class="list-group-item"><a href="{% url 'truckingassistance' %}">Trucking Assistance</a></li>

        </ul>

        <p>Contact us to learn more about how our services can benefit you!</p>

        <a href="{% url 'contact' %}" class="btn btn-primary">Contact Us</a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
